services:
  - docker
script:
  - docker build -t udagram-api-user ./udagram-api-user
  - docker tag udagram-api-user mozurok/udagram-api-user:v1
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push mozurok/udagram-api-user:v1